<div class="container">
  <h2 class="title">Megrendelések</h2>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="loadOrderItems()">Frissítés</button>
    <button mat-raised-button color="accent" routerLink="/order-list">Rendelés!</button>
  </div>

  <div class="spacer"></div>

  <div class="item-list" *ngIf="orderItems.length > 0">
    <mat-divider></mat-divider>
    <div class="item" *ngFor="let item of orderItems">
      <div class="item-details">
        <div class="item-field">
          <span class="item-label">Megrendelő:</span>
          <span class="item-value">{{ item.customerName }}</span>
        </div>
        <div class="item-field">
          <span class="item-label">Születési idő:</span>
          <span class="item-value">{{ item.dateOfBirth }}</span>
        </div>
        <div class="item-field">
          <span class="item-label">Rendelt tétel:</span>
          <span class="item-value">{{ item.order }}</span>
        </div>
        <div class="item-field">
          <span class="item-label">Darabszám:</span>
          <span class="item-value">{{ item.quantity }}</span>
        </div>
      </div>
      <button mat-button color="warn" (click)="deleteOrderItem(item.id)">Törlés</button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="spacer"></div>
</div>